body, html {
  margin: 0;
  font-family: "Afacad Flux", serif;
  overflow-x: hidden; 
}

.page-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.fullpage-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.fullpage {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background-video {
  padding:0px;
  margin:0px;
  width:100%;
  height:100vh;
  object-fit: cover;
  z-index: -1;
}

.section-1 {
  background-color: white !important;
  width: 100%;
  height: 100vh;
}

.section-2 {
  background-color: green !important;
  width: 100%;
  height: 100vh;
}

.section-3 {
  background-color: #98fb98;
  color: #333;
}

.section h1, .section h2 {
  font-size: 2.5rem;
}

.section p {
  font-size: 1.2rem;
}

/* 

.background-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none; 

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease-in-out;
  opacity: 0; 

.background.fade-in {
  opacity: 1;
  transition: .5s;
}
 */

 .title {
  z-index: 2; 
  font-size: 15vw;
  font-weight: bold;
  background-size: cover; 
  background-repeat: no-repeat;
  /* text-shadow: 5px 5px 10px rgba(255, 255, 255, .5); */
  transition: .5s;
  user-select: none; 
  font-family:  "Playfair Display SC", serif;
  margin: 0;

}

.title-container {
  position: fixed;
  left: 20px;
  z-index: 200;
  background-color: transparent;
}
