h1{
    font-family: "Playfair Display SC", serif;
    color: white;
    padding: 0;
    margin-top: 500px;
    text-align: center;
    user-select: none;
}

  h2{
    font-family: "Afacad Flux", serif;
    color: var(--black);
    margin: 0;
    padding: 0;
    user-select: none;
    font-size: 20px;
  }
  
  p{
    font-family: "Afacad Flux", serif;
    text-align: justify;
    text-justify: inter-word;
  }

  .content-type{
    color: #7f7f7f;
    font-size: 10px;
  }

  .small-text{
    color: var(--gray);
    font-size: 10px;
  }

  .title{
    font-family: "Playfair Display SC", serif;
    color: var(--black);
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 45px;
    text-align: right;
  }